* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
}

.navbar {
   background-color: #012269;
}

.label-navigasi {
   background-color: #012269;
   padding: 6px;
   margin: 8.7px;
   border-radius: 8px;
   color: white;
   font-weight: bold;
}

.pagination {
   display: inline-block;
}

.pagination a {
   color: black;
   float: left;
   padding: 5px 10px;
   text-decoration: none;
}

.pagination a.active {
   background-color: #4caf50;
   color: white;
   border-radius: 5px;
}

.pagination a:hover:not(.active) {
   background-color: #ddd;
   border-radius: 5px;
}


#sidebar {
   float: left;
}

#sidebar ul {
   list-style: none;
}

#sidebar a:link,
#sidebar a:visited {
   color: black;
   text-decoration: none;
   display: block;
   padding: 6px;
}

#sidebar a:hover {
   background-color: #919191;
   margin: 10px 8px;
   border-radius: 5px;
}

#container {
   width: 100%;
   margin: 0px auto;
   height: auto;
   background-color: #f9f9f9;
}

#content-container {
   float: left;
   width: 88%;
   background-color: #eee;
}

/*--end of pages--*/



/* first of pages */
#content {
   float: left;
   width: 99%;
   background-color: #fff;
   min-height: 480px;
   padding: 20px;
   margin-bottom: 6px;
}

#beranda-judul {
   text-align: center;
   /* background-color: ; */
}

#beranda-konten {
   text-align: center;
   padding-top: 140px;
   color: red;
}

#tombol-tambah-container {
   margin-bottom: 10px;
}

#tombol-tambah-container a:hover {
   background-color: #c4c4c4;
}

#tabel-tampil {
   border: 2px solid #c4c4c4;
   width: 100%;
}

#tabel-tampil tr:nth-child(odd) {
   background-color: #F1F1F1;
}

#tabel-tampil tr th {
   padding: 4px;
   text-align: left;
}

#tabel-tampil td {
   padding: 4px;
}

#label-tampil-no {
   width: 30px;
}

#label-opsi {
   width: 158px;
   font-weight: bold;
}

#label-opsi2 {
   width: 82px;
   font-weight: bold;
}

#label-opsi3 {
   width: 166px;
   font-weight: bold;
}

#label-page {
   text-align: center;
}

.tombol-opsi-container {
   float: left;
}

.tombol-opsi-container a:hover {
   background-color: #C4C4C4;
}

#tabel-input {
   width: 100%;
}

.label-formulir {
   width: 12%;
   height: 36px;
   margin: 20px;
}

.isian-formulir {
   width: 80%;
   padding: 4px;
   width: 99.8%;
}

.isian-formulir2 {
   width: 78%;
   padding: 4px;
   width: 20%;
}

.label-formulir2 {
   width: 100%;
   height: 26px;
   margin: 20px;
   padding-left: 16px;
   font-weight: bold;
}

.isian-formulir-border {
   border: 1px solid #C4C4C4;
}

.warna-formulir-disabled {
   background-color: #F1F1F1;
}

#footer {
   width: auto;
   clear: both;
   text-align: center;
   padding: 10px;
   background-color: #012269;
   color: #fff;
}

/* end of index.php */

/* @media (max-width: 767px) {
   #sidebar {
      display: none;
   }

   #content-container {
      width: 100%;
   }

}

@media (min-width: 768px) and (max-width: 991px) {
   #sidebar {
      display: none;
   }

   #content-container {
      width: 100%;
   }

}

@media (min-width: 992px) and (max-width: 1200px) {
   #sidebar {
      display: none;
   }

   #content-container {
      width: 100%;
   }
} */